table {
    text-align: center;
    border-radius: 6px;
    border: solid #222 1px;
    padding: 7px;
}

td {
    margin: 10%;
    padding: 0 10px 5px 10px;
}

.vote-btn {
    min-width: 60px;
    max-width: 60px;
    border: none;
    margin: 10px 10px 0 0;
}

.karma {
    transform: translateY(30%);
    font-weight: bold;
    min-width: 45px;
}
